.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #2f4680, #500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.search-bar input {
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
    width: 90%; 
}

.search-bar img {
    width: 40px;
    padding: 10px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-container {
    display: flex;
    align-items: center;
    height: 130px;
    flex-direction: row;
    justify-content: space-around;
    /* width: 100%; 
    /* background-color: #626262; */
}

.weather-icon {
    width: 180px;
    max-width: 100%;
}

.temperature {
    color: #fff;
    font-size: 60px;
    line-height: 1;
    position: relative;
}

.temperature span {
    font-size: 35px;
    position: absolute;
}

.location {
    color: #fff;
    font-size: 40px;
    text-align: center;
}

.weather-data {
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.description {
    color: rgb(192, 156, 64);
    margin-top: 70px;
    text-transform: capitalize;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 26px;
    margin-top: 10px;
}

.date {
    color: #fff;
    text-align: center;
}


/* For tablets and mobile devices */
@media (max-width: 768px) {
    .weather {
        padding: 20px;
        width: auto;
    }

    .search-bar {
        /* flex-direction: column; */
        /* gap: 8px; */
    }

    .search-bar input {
        width: 80%;
    }

    .weather-container {
        /* flex-direction: column; */
        align-items: center;
        height: auto;
    }

    .temperature {
        font-size: 40px;
    }

    .temperature span {
        font-size: 20px;
    }

    .location {
        font-size: 30px;
    }

    .weather-data {
        /* flex-direction: column; */
        /* align-items: center; */
    }

    .weather-data .col {
        font-size: 18px;
    }

    .weather-data .col span {
        font-size: 14px;
    }
}

/* For very small mobile devices */
@media (max-width: 480px) {

    .weather {
        width: 75%;
        height: 80vh;
    }

    .search-bar {
        flex-direction: column;
        width: 100%;
        gap: 8px;
        margin: 10px;
    }

    .weather-container {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    .temperature {
        font-size: 30px;
    }

    .temperature span {
        font-size: 16px;
    }

    .description {
        font-size: 12px;
    }

    .location {
        font-size: 20px;
    }

    .weather-data {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .weather-data .col {
        font-size: 16px;
    }

    .weather-data .col span {
        font-size: 12px;
    }

    .weather-container img.weather-icon {
        /* margin-bottom: 5px; */
    }
    
    .weather-container p.temperature {
        margin-bottom: 5px; 
    }
    
    .weather-container small.description {
        margin: 5px; 
    }
    
}
