body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  border: solid gray;
  border-radius: 4%;
  width: 20vw;
  height: 50vh;
}

button {
  background-color: blue;
  color: white;
  cursor: pointer;
  width: 5vw;
  height: 5vh;
}

.btn{
  background-color: hsl(140, 93%, 21%);
  color: white;
  cursor: pointer;
  width: 12vw;
  height: 5vh;
}

p{
  color: rgb(34, 56, 44);
}

/* @media only screen and (min-width: 1024px) {

} */

/* Medium devices such as tablets (1024px or lesser) */
@media screen and (max-width: 1024px) {
  main {
    width: 30vw;
    height: 30vh;
  }
  button{
    width: 40%;
    height: 4vh;
  }
}

/* Small devices such as phones (768px or lesser) */
@media screen and (max-width: 768px) {
  main {
    width: 45vw;
    height: 30vh;
  }
  button{
    width: 40%;
    height: 4vh;
  }
}