/* Medium <= 992px */
@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 'header' 'main';
    }

}

/* Small <= 768px */
@media screen and (max-width: 768px) {}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {}