body{
  background-color: #332f2f;
}
h1{
  color: rgb(196, 196, 196);
}
li{
  color: rgb(196, 196, 196);
  cursor: pointer;
}
li:hover{
  color: rgb(136, 204, 243);
  text-decoration-line: underline;
}