body{
   background-color: black;
   color: white;
   text-align: center;
   margin-top: 100px;
}
button{
  width: 120px;
  height: 30px;
  margin: 0 5px;
  background-color: rgb(73, 73, 73);
  color: #fffcfc;
}
button:hover{
  background-color: rgb(58, 58, 58);
  color: #b4b3b3;
}
p{
  font-size: 50px;
  font-weight: bold;

}